.serverbar{
    display: flex;
    flex-direction: column;
    flex: 0.05;
    height: 100vh;
    background-color: #2f3135;
    
}

.serverbar__top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:  21px 21px 22px 21px;
    background-color: #2f3135;
    color: white;
    border-bottom: 3px solid #26282c;
}

.serversList{
    flex: 1;
}

.addServer{
    cursor: pointer;
    display: flex;
    align-items: center;
    color: gray;
    background-color: #2f3135;
    justify-content: center;
    margin-bottom: 2rem;
    
  
}